<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="">
  <title>About our website</title>
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/register">Register</a>
  </nav>

  <main>
    <p>
      This site is about building a network of people who are interested in sharing knowledge about a subject they truly enjoy. The first page you will have access to is to weed out who is truly interested in the subject and who is looking to be a troll. You will be able to post virtually anything, a question, statement, or a video. The other users will be able to vote on what you have posted. When your posts reach a certain amount of 'up' votes you will be granted access to the next level of the conversation.
    </p>
  </main>

</body>
</html>
