<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	<div class="container">
		<header>

			<div class="top-banner">
				<div id="logo-container">
					<img id="logo" src="https://www.techonline.com/img/tmp/logo-placeholder.png" href="/home">
				</div>
				<div class="login-pannel">
					<a href="/home/login">Login</a> <br>
					<a href="/home/register">Register</a>
					<a href="/home/logout">Logout</a>
				</div>
			</div>
			
			<div class="page-nav">
				<button class="page-link">Consciousness</button>
				<button class="page-link">Sailing</button>
				<button class="page-link">Cars</button>
				<button class="page-link">Baseball</button>
			</div>
	
		</header>
		<main>

			<div class="post-banner">
				<img class="post-thumbnail" src="https://i.stack.imgur.com/Zkpt2.png">
				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
				<div class="post-text">
					<h3 class="post-title">Post Title</h3>
					<p class="post-description">This is a breif post description that serves as a little teaser</p>
				</div>
			</div>
			<div class="post-banner">
				<img class="post-thumbnail" src="https://i.stack.imgur.com/Zkpt2.png">
				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
			</div>
			<div class="post-banner">
				<img class="post-thumbnail" src="https://i.stack.imgur.com/Zkpt2.png">
				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
			</div>
			<div class="post-banner">
				<img class="post-thumbnail" src="https://i.stack.imgur.com/Zkpt2.png">
				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
			</div>
			<div class="post-banner">
				<img class="post-thumbnail" src="https://i.stack.imgur.com/Zkpt2.png">
				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
			</div>	

		</main>
	</div>

</body>
</html>
