<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="">
  <title>Home page</title>
</head>
<body>

  <nav>
    <a href="/about">About us</a>
    <a href="/register">Register</a>
  </nav>

  <main>
    <p>
      Hello! Welcome to our website where we believe everyone should have a chance at joining any discussion they are interested in. Currently the only conversation we offer is one on consciousness.
    </p>
  </main>

</body>
</html>