<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>User Login</title>
  <link href="https://fonts.googleapis.com/css?family=Mitr:300" rel="stylesheet">
</head>
<body  class="static">
   <header>
      <% if (session.logged === true) { %>

      <div class="top-banner">
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
            </div>
        </div>
        <div id="logo-container">
          <a href="/home">
            <img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
          </a>
        </div>
        <div class="login-pannel">
          <p class="banner-username">Hello, <%= session.username %></p> <br>
          <a href="/home/new">New Post</a> <br>
          <a href="/home/logout">Logout</a> <br>
        </div>
      </div>
        
      <% } else { -%>

      <div class="top-banner">
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="/home">level 1: Home</a>
              <a href="/level2">level 2: Beginner</a>
            </div>
        </div>
        <div id="logo-container">
          <a href="/home">
            <img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
          </a>
        </div>
        <div class="login-pannel">
          <a href="/home/login">Login</a> <br>
          <a href="/home/register">Register</a> <br>
        </div>
      </div>
      <% } -%>
  
    </header>
  <main class="login-main">
    <div class="login-container">
      <form action="/home/login" method="POST">
        <br>
        <label class="username-password">Username</label> <br>
        <input class="login-input" type="text" name="username" placeholder="---   username   ---"><br>
        <br>
        <label class="username-password">Password</label> <br>
        <input class="login-input" type="password" name="password" placeholder="---   password   ---"><br>
        <button class="submit">Login</button> 
      </form>     
    </div>
  </main>

</body>
</html>