<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
		<header>

			<div class="top-banner">
				<div id="logo-container">
					<button id="logo" href="http://localhost:3000/home"></button>
				</div>
				<div class="login-pannel">
					<a href="/home/login">Login</a> <br>
					<a href="/home/register">Register</a> <br>
					<a href="/home/new">New Post</a>
					<a href="/home/logout">Logout</a>
				</div>
			</div>
			
			<div class="page-nav">
				<button class="page-link">Consciousness</button>
				<button class="page-link">Sailing</button>
				<button class="page-link">Cars</button>
				<button class="page-link">Baseball</button>
			</div>
	
		</header>

	<main>
		<div class="new-container">
			<h1>Create New Post</h1>
			<form action="/home" method="POST">
				<label>Title:</label> <br>
				<input type="text" name="title"> <br>
				<label>Body:</label> <br>
				<input class="input-body" type="text" name="body"> <br>
				<input type="submit" value="Create Post">
			</form>		
		</div>
	</main>

</body>
</html>