<!DOCTYPE html>
<html>
<head>
	<title><%= post.title %></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mitr:300" rel="stylesheet">
</head>
<body>
		<header>
			<% if (session.logged === true) { %>

			<div class="top-banner">
				<div class="dropdown">
  					<button class="dropbtn">Levels</button>
  					<div class="dropdown-content">
  					  <a href="/home">level 1: Home</a>
  					  <a href="/level2">level 2: Beginner</a>
  					</div>
				</div>
				<div id="logo-container">
					<a href="/home">
						<img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
					</a>
				</div>
				<div class="login-pannel">
					<p class="banner-username">Hello, <%= session.username %></p> <br>
					<a href="/home/new">New Post</a> <br>
					<a href="/home/logout">Logout</a> <br>
				</div>
			</div>
				
			<% } else { -%>

			<div class="top-banner">
				<div class="dropdown">
  					<button class="dropbtn">Levels</button>
  					<div class="dropdown-content">
  					  <a href="/home">level 1: Home</a>
  					  <a href="#">level 2: Beginner</a>
  					</div>
				</div>
				<div id="logo-container">
					<a href="/home">
						<img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
					</a>
				</div>
				<div class="login-pannel">
					<a href="/home/login">Login</a> <br>
					<a href="/home/register">Register</a> <br>
				</div>
			</div>
			<% } -%>
	
		</header>	
	<main>	
		<h2><%= post.title %></h2> <br>
		<h4><%= post.body %></h4> <br>
	</main>
</body>
</html>