<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>Register a New User</title>
  <link href="https://fonts.googleapis.com/css?family=Mitr:300" rel="stylesheet">
</head>
<body class="static">
<header>
      <% if (session.logged === true) { %>

      <div class="top-banner">
        <div id="logo-container">
          <a href="/home">
            <img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
          </a>
        </div>
        <div class="login-pannel">
          <p class="banner-username">Hello, <%= session.username %></p> <br>
          <a href="/home/new">New Post</a> <br>
          <a href="/home/logout">Logout</a> <br>
        </div>
      </div>
      
      <div class="page-nav">
        <button class="page-link">Consciousness</button>
        <button class="page-link">Sailing</button>
        <button class="page-link">Cars</button>
        <button class="page-link">Baseball</button>
      </div>
        
      <% } else { -%>

      <div class="top-banner">
        <div id="logo-container">
          <a href="/home">
            <img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
          </a>
        </div>
        <div class="login-pannel">
          <a href="/home/login">Login</a> <br>
          <a href="/home/register">Register</a> <br>
        </div>
      </div>
      <% } -%>
  
    </header>
  <main>
    <form action="/home/register" method="POST">
      Username:<input type="text" name="username" placeholder="username"><br>
      Password:<input type="password" name="password" placeholder="password"><br>
      <button>Login</button>
    </form>
  </main>

</body>
</html>