body {
	background-color: white;
	font-family: 'Mitr', sans-serif;
}

html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* Top banner */

.top-banner {
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0, 0, 0, .8);
	height: 120px;
	width: 100%;
	display: flex;
	box-shadow: 0 0px 40px rgba(0, 0, 0, 1);
}

#logo-container {
	position: relative;
	right: 7px;
	width: 400px;
	margin: 0 auto;
	float: center;
}

/* dropdown menu */

.dropbtn {
    background-color: #8F41FF;
    color: white;
    padding: 5px;
    font-size: 16px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: 'Mitr', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 38px 32px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #672FB8;
}

/* login navigation*/

.login-pannel {
	margin: 32px 32px 0 0;
	width: 130px;
	display: inline-block;
	text-align: center;
}

.login-pannel a {
	text-decoration: none;
	color: #8F41FF;
}

.login-pannel a:hover {
	color: white;
}

.page-nav {
	display: flex;
	justify-content: space-around;
	/*background-color: white;*/
}

.page-link {
	border: none;
	color: white;
	background: url("https://i.imgur.com/9skNUgf.png");
	background-size: cover;
	width: 120px;
	height: 30px;
	margin: 0;
}

#logo {
	text-align: center;
	/*background: url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png');*/
	width: 100px;
	height: 100px;
	background-size: cover;
	border: none;
	margin: 10px 0;
}

/* Posts */

.popular-posts {
	text-align: center;
	color: #8F41FF;
}

.post-banner {
	background-color: white;
	height: 160px;
	width: 100%;
	/*border: 2px solid grey;*/
	margin: 10px 0;
	display: flex;
	box-shadow: 0 0 5px black;
}

.banner-username {
	color: orange;
	margin: 0 10px;
	font-weight: bold;
}

.post-thumbnail {
	height: 100px;
	margin: 30px 50px;
}

.post-title {
	text-decoration: none;
	color: #8F41FF;
	font-size: 14pt;
	font-weight: bold;
}

.post-text {
	display: inline-block;
	margin-top: 30px;
}

.downvote {
	margin-top: -40px;
}

/* Login */

.static {
	background: url("https://i.imgur.com/eYqRAEj.jpg");
	background-size: cover;
	background-position: center;
}

.login-container {
	display: inline-block;
	text-align: center;
	width: 400px;
	height: 247.2px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 50px;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 40px;
	box-shadow: 0 0 40px black;
}

.login-main {
	text-align: center;
	margin: 0 auto;
}

.username-password {
	font-weight: bold;
	font-size: 14pt;
	color: white;
	margin-bottom: 30px;
}

.login-input {
	border-radius: 5px;
	width: 200px;
	height: 25px;
	border: none;
	text-align: center;
}

.submit {
	background-color: #8F41FF;
	color: white;
	width: 100px;
	height: 30px;
	font-weight: bolder;
	font-size: 12pt;
	border: none;
	border-radius: 5px;
	margin: 30px;
	font-family: 'Mitr', sans-serif;
}


/* New */

.new-container {
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 700px;
	height: 500px;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 40px;
	box-shadow: 0 0 40px black;
	text-align: center;
}

.new-inner {
	margin: 0 auto;
}

.input-body {
	width: 50%;
	height: 200px;
}

.input-title {
	width: 50%;
}

.create-title {
	color: white;
}

.submit-post {
	background-color: #8F41FF;
	color: white;
	width: 150px;
	height: 30px;
	font-weight: bolder;
	font-size: 12pt;
	border: none;
	border-radius: 5px;
	margin: 30px;
	font-family: 'Mitr', sans-serif;
}


/* Vote */

.upvote-container {
	height: 140px;
	width: 140px;
	text-align: center;
	margin: 10px;
}

.upvote{
	/*background: url('https://i.imgur.com/5zQXqHX.png');*/
	height: 60px;
	width: 60px;
	background-size: cover;
}

.upvote-hit{
	/*background: url('https://i.imgur.com/5zQXqHX.png');*/
	height: 60px;
	width: 60px;
	background-size: cover;
}

.downvote{
	/*background: url('https://i.imgur.com/5zQXqHX.png');*/
	height: 60px;
	width: 60px;
	background-size: cover;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}



