body {
	background-color: lavender;
}

/*.container {
	width: 960px;
	margin: 0 auto;
}*/

.top-banner {
	margin: 0 auto;
	text-align: center;
	background-color: white;
	height: 120px;
	width: 100%;
	display: flex;
}

#logo-container {
	position: relative;
	left: 75px;
	width: 300px;
	margin: 0 auto;
	float: center;
}

.login-pannel {
	width: 150px;
	margin: 20px 0 0 0;
}

.page-nav {
	display: flex;
	justify-content: space-around;
	/*background-color: white;*/
}

.page-link {
	border: none;
	background: url("https://i.imgur.com/bobL4xD.png");
	background-size: cover;
	width: 160px;
	height: 40px;
	margin: 0;
}

#logo {
	text-align: center;
	background: url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png');
	width: 100px;
	height: 100px;
	background-size: cover;
	border: none;
	margin: 20px 0 0 0;
}

.post-banner {
	background-color: white;
	height: 160px;
	width: 100%;
	/*border: 2px solid grey;*/
	margin: 10px 0;
	display: flex;
}

.banner-username {
	color: orange;
	margin: 0 10px;
	font-weight: bold;
}

.post-thumbnail {
	height: 100px;
	margin: 10px 50px;

}

.post-text {
	display: inline-block;
}

.login-pannel {
	display: inline-block;
}

.new-container {
	margin: 0 auto;
	/*text-align: center;*/
}

.new-inner {
	margin: 0 auto;
}

.input-body {
	width: 50%;
	height: 300px;
}

.upvote-container {
	height: 140px;
	width: 140px;
	text-align: center;
	margin: 10px;
}

.upvote{
	/*background: url('https://i.imgur.com/5zQXqHX.png');*/
	height: 60px;
	width: 60px;
	background-size: cover;
}

.downvote{
	/*background: url('https://i.imgur.com/5zQXqHX.png');*/
	height: 60px;
	width: 60px;
	background-size: cover;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

